@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{padding: 0;margin: 0;box-sizing: border-box; font-family: 'rubik', sans-serif;}
.section-hero {
    background-image: url(asset/bg-image-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* 100% de la hauteur de l'écran*/
.white {
    color: white;
}

.section3 {
    background-image: url(asset/bg-image-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.black {
    background-color: black;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.end {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spacebetween {
    justify-content: space-between;
}

.gap8 {
    gap: 8px;
}
a{text-decoration: none;}
.noir{color: black;}
.aligncenter{align-items: center;}
.p40 {padding: 40px;}
/* taille */
.w40{width: 40%;}
.justify-center{justify-content: center;}
.margesec2{margin-top: 20px;}
.card{border: 4px black solid;width: 30%;}
.flex{display: flex;flex-wrap: wrap;}
.margin2{margin-bottom: 15px;}
.mt20{margin-top: 20px;}
.container1200{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.btn{border: solid; background-color: black;color: white;border-radius: 3px;}
.spacearound{justify-content: space-around;}
.btnblanc{border: solid; background-color: rgb(255, 255, 255);color: rgb(0, 0, 0);border-radius: 3px;}
.flexend{align-items: flex-end;}
.column{flex-direction: column;}
.bgred{background-color: red;}
.gap32{gap: 32px;}
.cardprojet{border: solid black 3px; width: 500px;padding: 4px;width: 30%}